.idea/workspace.xml
.idea/tasks.xml

/node_modules
.pnp.*
#!.yarn/cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

.log*

.env*.local

.vercel

*.tsbuildinfo
next-env.d.ts
